@font-face {
  font-family: 'KG Primary Penmanship';
  src: url('./assets/fonts/KGPrimaryPenmanship.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'KG Primary Penmanship', system-ui, sans-serif;
  background: #0a0a0a;
  color: #fff;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
